<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short URL Factory</title>
    <link rel="stylesheet" href="/public/css/short-url.css">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/616/616430.png" type="image/x-icon">
</head>

<body>
    <div class="template">
        <div class="title">Create Your Short URL</div>
        <form id="shortURL">
            <label for="url" class="form_label">original URL :</label>
            <input type="text" name="originalUrl" id="input">
            <button type="submit">Submit</button>
        </form>
        <div id="response">
            <p>your created URLs are showed below :</p>
            <ul class="list"></ul>
        </div>
    </div>
    <script>
        const api = '/';
        const formSubmit = document.getElementById('shortURL');


        formSubmit.addEventListener('submit', (e) => {
            e.preventDefault();
            const input = document.getElementById('input');
            const originalUrl = input.value;
            const list = document.querySelector(".list");
            console.log(input)
            console.log('inputValue-->', originalUrl)
            if (!originalUrl) return alert('請輸入網址');

            const data = { "originalUrl": originalUrl };

            console.log(JSON.stringify(data));

            const config = {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                // "Content-Type" : "application/json",
                body: JSON.stringify(data)
            }

            fetch(api, config)
                .then(res => res.json())
                .then(res => {
                    console.log('收到回應！！！！！', res);
                    if (res.status === "success") {
                        console.log("2")
                        const li = document.createElement("li");
                        // div.classList.add('result');
                        li.textContent = res.url;
                        list.appendChild(li);
                    }
                })
                .catch(err => console.log(err))
        })

    </script>
</body>

</html>